# Experiment 5: Implement Naïve Bayes Classifier using sklearn library

In [1]:
import pandas as pd
import numpy as np

# Play Tennis  Dataset

In [2]:
df = pd.read_csv("play_tennis.csv")

In [3]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   wind      14 non-null     object
 4   play      14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [5]:
df.describe()

       outlook  temp humidity  wind play
count       14    14       14    14   14
unique       3     3        2     2    2
top      Sunny  Mild     High  Weak  Yes
freq         5     6        7     8    9

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [7]:
df['outlook'] = encoder.fit_transform(df['outlook'])
df['temp'] = encoder.fit_transform(df['temp'])
df['humidity'] = encoder.fit_transform(df['humidity'])
df['wind'] = encoder.fit_transform(df['wind'])

In [8]:
df

    outlook  temp  humidity  wind play
0         2     1         0     1   No
1         2     1         0     0   No
2         0     1         0     1  Yes
3         1     2         0     1  Yes
4         1     0         1     1  Yes
5         1     0         1     0   No
6         0     0         1     0  Yes
7         2     2         0     1   No
8         2     0         1     1  Yes
9         1     2         1     1  Yes
10        2     2         1     0  Yes
11        0     2         0     0  Yes
12        0     1         1     1  Yes
13        1     2         0     0   No

In [9]:
df.describe()

         outlook       temp   humidity       wind
count  14.000000  14.000000  14.000000  14.000000
mean    1.071429   1.142857   0.500000   0.571429
std     0.828742   0.864438   0.518875   0.513553
min     0.000000   0.000000   0.000000   0.000000
25%     0.250000   0.250000   0.000000   0.000000
50%     1.000000   1.000000   0.500000   1.000000
75%     2.000000   2.000000   1.000000   1.000000
max     2.000000   2.000000   1.000000   1.000000

In [10]:
df.isnull().sum()

outlook     0
temp        0
humidity    0
wind        0
play        0
dtype: int64

In [11]:
X = df.iloc[:,0:4]
Y = df.iloc[:,-1]

In [12]:
X

    outlook  temp  humidity  wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0

In [13]:
Y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: play, dtype: object

In [14]:
X.shape

(14, 4)

In [15]:
Y.shape

(14,)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=10)

In [17]:
X_train.shape

(9, 4)

In [18]:
Y_train.shape

(9,)

In [19]:
X_test.shape

(5, 4)

In [20]:
Y_test.shape

(5,)

In [21]:
from sklearn.naive_bayes import GaussianNB
dt=GaussianNB()

In [22]:
clf=GaussianNB()

In [23]:
clf.fit(X_train,Y_train)

GaussianNB()

In [24]:
Y_pred = clf.predict(X_test)
Y_pred

array(['Yes', 'No', 'Yes', 'Yes', 'Yes'], dtype='<U3')

In [25]:
clf.score(X_test,Y_test)

1.0

In [26]:
import numpy as np
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [27]:
print('Accuracy: %.3f' % accuracy_score(Y_test, Y_pred))
print('f1 score: %.3f' % f1_score(Y_test, Y_pred,average='micro'))
print('recall: %.3f' % recall_score(Y_test, Y_pred, average='macro'))
print('Precision: %.3f' % precision_score(Y_test, Y_pred,average='macro'))

Accuracy: 1.000
f1 score: 1.000
recall: 1.000
Precision: 1.000

In [28]:
from sklearn.metrics import  confusion_matrix

In [29]:
conf_matrix = confusion_matrix(Y_test, Y_pred)

In [30]:
print("Confusion Matrix:\n", conf_matrix)

Confusion Matrix:
 [[1 0]
 [0 4]]

In [31]:
import numpy as np

user_input = []

outlook = int(input("Enter outlook (0 for sunny, 1 for overcast, 2 for rainy): "))
temp = int(input("Enter temperature (0 for cool, 1 for mild, 2 for hot): "))
humidity = int(input("Enter humidity (0 for normal, 1 for high): "))
wind = int(input("Enter wind (0 for weak, 1 for strong): "))

user_input.append([outlook, temp, humidity, wind])
user_input = np.array(user_input)
Y_pred = clf.predict(user_input)
print(Y_pred)

Enter outlook (0 for sunny, 1 for overcast, 2 for rainy):  0
Enter temperature (0 for cool, 1 for mild, 2 for hot):  1
Enter humidity (0 for normal, 1 for high):  0
Enter wind (0 for weak, 1 for strong):  1

['Yes']

C:\Users\Ritesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

# Titanic Dataset

In [32]:
dt = pd.read_csv("Titanic-Dataset.csv")

In [33]:
dt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [34]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
dt.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [36]:
dt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
encoder = LabelEncoder()

In [39]:
new_data=pd.DataFrame()
new_data

Empty DataFrame
Columns: []
Index: []

In [40]:
new_data['Pclass'] = dt['Pclass']
new_data['Name'] = encoder.fit_transform(dt['Name'])
new_data['Sex'] = encoder.fit_transform(dt['Sex'])
new_data['Age'] = dt['Age']
new_data['SibSp'] = dt['SibSp']
new_data['Parch'] = dt['Parch']
new_data['Ticket'] = encoder.fit_transform(dt['Ticket'])
new_data['Fare'] = dt['Fare']
new_data['Cabin'] = encoder.fit_transform(dt['Cabin'])
new_data['Embarked'] = encoder.fit_transform(dt['Embarked'])
new_data['Survived'] = dt['Survived']
new_data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,3,108,1,22.0,1,0,523,7.2500,147,2,0
1,1,190,0,38.0,1,0,596,71.2833,81,0,1
2,3,353,0,26.0,0,0,669,7.9250,147,2,1
3,1,272,0,35.0,1,0,49,53.1000,55,2,1
4,3,15,1,35.0,0,0,472,8.0500,147,2,0
...,...,...,...,...,...,...,...,...,...,...,...
886,2,548,1,27.0,0,0,101,13.0000,147,2,0
887,1,303,0,19.0,0,0,14,30.0000,30,2,1
888,3,413,0,NaN,1,2,675,23.4500,147,2,0
889,1,81,1,26.0,0,0,8,30.0000,60,0,1
890,3,220,1,32.0,0,0,466,7.7500,147,1,0

In [41]:
from sklearn.impute import SimpleImputer
import numpy as np

In [42]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [43]:
data = imputer.fit_transform(new_data)

In [44]:
data

array([[  3., 108.,   1., ..., 147.,   2.,   0.],
       [  1., 190.,   0., ...,  81.,   0.,   1.],
       [  3., 353.,   0., ..., 147.,   2.,   1.],
       ...,
       [  3., 413.,   0., ..., 147.,   2.,   0.],
       [  1.,  81.,   1., ...,  60.,   0.,   1.],
       [  3., 220.,   1., ..., 147.,   1.,   0.]])

In [45]:
data=pd.DataFrame(data)
data

      0      1    2          3    4    5      6        7      8    9    10
0    3.0  108.0  1.0  22.000000  1.0  0.0  523.0   7.2500  147.0  2.0  0.0
1    1.0  190.0  0.0  38.000000  1.0  0.0  596.0  71.2833   81.0  0.0  1.0
2    3.0  353.0  0.0  26.000000  0.0  0.0  669.0   7.9250  147.0  2.0  1.0
3    1.0  272.0  0.0  35.000000  1.0  0.0   49.0  53.1000   55.0  2.0  1.0
4    3.0   15.0  1.0  35.000000  0.0  0.0  472.0   8.0500  147.0  2.0  0.0
..   ...    ...  ...        ...  ...  ...    ...      ...    ...  ...  ...
886  2.0  548.0  1.0  27.000000  0.0  0.0  101.0  13.0000  147.0  2.0  0.0
887  1.0  303.0  0.0  19.000000  0.0  0.0   14.0  30.0000   30.0  2.0  1.0
888  3.0  413.0  0.0  29.699118  1.0  2.0  675.0  23.4500  147.0  2.0  0.0
889  1.0   81.0  1.0  26.000000  0.0  0.0    8.0  30.0000   60.0  0.0  1.0
890  3.0  220.0  1.0  32.000000  0.0  0.0  466.0   7.7500  147.0  1.0  0.0

[891 rows x 11 columns]

In [46]:
data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [47]:
data.isnull()

,0,1,2,3,4,5,6,7,8,9,10
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False

In [48]:
X = pd.DataFrame(data.iloc[:, 0:10].values)
X

       0      1    2          3    4    5      6        7      8    9
0    3.0  108.0  1.0  22.000000  1.0  0.0  523.0   7.2500  147.0  2.0
1    1.0  190.0  0.0  38.000000  1.0  0.0  596.0  71.2833   81.0  0.0
2    3.0  353.0  0.0  26.000000  0.0  0.0  669.0   7.9250  147.0  2.0
3    1.0  272.0  0.0  35.000000  1.0  0.0   49.0  53.1000   55.0  2.0
4    3.0   15.0  1.0  35.000000  0.0  0.0  472.0   8.0500  147.0  2.0
..   ...    ...  ...        ...  ...  ...    ...      ...    ...  ...
886  2.0  548.0  1.0  27.000000  0.0  0.0  101.0  13.0000  147.0  2.0
887  1.0  303.0  0.0  19.000000  0.0  0.0   14.0  30.0000   30.0  2.0
888  3.0  413.0  0.0  29.699118  1.0  2.0  675.0  23.4500  147.0  2.0
889  1.0   81.0  1.0  26.000000  0.0  0.0    8.0  30.0000   60.0  0.0
890  3.0  220.0  1.0  32.000000  0.0  0.0  466.0   7.7500  147.0  1.0

[891 rows x 10 columns]

In [49]:
Y = pd.DataFrame(data.iloc[:, -1].values)
Y

       0
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
..   ...
886  0.0
887  1.0
888  0.0
889  1.0
890  0.0

[891 rows x 1 columns]

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [52]:
from sklearn.naive_bayes import GaussianNB

# Assuming you have your training data X_train and corresponding labels y_train
# Instantiate the Gaussian Naive Bayes classifier
clf = GaussianNB()

# Fit the classifier to the training data
clf.fit(X_train, Y_train)

# Now you can make predictions on the test data
Y_pred = clf.predict(X_test)

C:\Users\Ritesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [53]:
clf.fit(X_train,Y_train)

C:\Users\Ritesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [54]:
Y_pred=clf.predict(X_test)

In [55]:
Y_pred=clf.predict(X_test)

In [56]:
Y_pred

array([0., 0., 0., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1.,
       1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0.,
       0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1.,
       1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1.,
       0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0.,
       1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 1., 0.])

In [57]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix

In [58]:
print('Accuracy: %.3f' % accuracy_score(Y_test, Y_pred))
print('f1 score: %.3f' % f1_score(Y_test, Y_pred,average='micro'))
print('recall: %.3f' % recall_score(Y_test, Y_pred, average='macro'))
print('Precision: %.3f' % precision_score(Y_test, Y_pred,average='macro'))

confusion_matrix(Y_test, Y_pred)

Accuracy: 0.807
f1 score: 0.807
recall: 0.799
Precision: 0.800

array([[147,  28],
       [ 29,  91]], dtype=int64)

In [59]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,445.000000,0.647587,29.699118,0.523008,0.381594,338.528620,32.204208,130.744108,1.538721,0.383838
std,0.836071,257.353842,0.477990,13.002015,1.102743,0.806057,200.850657,49.693429,36.024237,0.794231,0.486592
min,1.000000,0.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,222.500000,0.000000,22.000000,0.000000,0.000000,158.500000,7.910400,147.000000,1.000000,0.000000
50%,3.000000,445.000000,1.000000,29.699118,0.000000,0.000000,337.000000,14.454200,147.000000,2.000000,0.000000
75%,3.000000,667.500000,1.000000,35.000000,1.000000,0.000000,519.500000,31.000000,147.000000,2.000000,1.000000
max,3.000000,890.000000,1.000000,80.000000,8.000000,6.000000,680.000000,512.329200,147.000000,3.000000,1.000000

In [60]:
def result(): 
 print("For Pclass range:1.0 to 3.00")
 x1=int(input("Pclass: "))
 print("For Name range:0.0 to 890.00")
 x2=int(input("Name: "))
 print("For Sex range:0.0 to1.0")
 x3=int(input("Sex: "))
 print("For Age range:0.42 to 80.00")
 x4=int(input("Age: "))
 print("For SibSp range:0 to  8.00")
 x5=int(input("SibSp: "))
 print("For Parch range:0.00 to 8.00")
 x6=int(input("Parch: "))
 print("For Ticket range:0.00 to 680.00")
 x7=int(input("Ticket: "))
 print("For Fare range:0.00 to 512.3292")
 x8=int(input("Fare: "))
 print("For Cabin range:0.00 to 147.00")
 x9=int(input("Cabin: "))
 print("For Embarked range:0.00 to 3.00")
 x10=int(input("Embarked: "))
 
 list_x=[[x1,x2,x3,x4,x5,x6,x7,x8,x9,x10]]
 a = pd.DataFrame(list_x)
 y_pred_single = clf.predict(a)
 print("Prediction for given input is : ", y_pred_single[0])
result()

For Pclass range:1.0 to 3.00

Pclass:  1

For Name range:0.0 to 890.00

Name:  840

For Sex range:0.0 to1.0

Sex:  1

For Age range:0.42 to 80.00

Age:  70

For SibSp range:0 to  8.00

SibSp:  4

For Parch range:0.00 to 8.00

Parch:  5

For Ticket range:0.00 to 680.00

Ticket:  20

For Fare range:0.00 to 512.3292

Fare:  20

For Cabin range:0.00 to 147.00

Cabin:  56

For Embarked range:0.00 to 3.00

Embarked:  2

Prediction for given input is :  0.0